# Временные файлы Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Файлы данных
data/
*.fa*
*.gtf*
*.bed
*.bam
*.sam

# IDE и редакторы
.vscode/
.idea/
*.swp

# Виртуальные окружения
.env/
.venv/
venv/

# Логи и тестовые файлы
*.log
*.tmp
*.test.*
